.App {
  text-align: center;
}
body{
  background-image:linear-gradient(rgb(143, 234, 254),rgb(237, 140, 140), rgb(211, 198, 198));
  background-size:cover;
  height: 100vh;
  background-position:center;
  background-repeat:no-repeat;
  overflow-y: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display:  flex;
  justify-content: space-evenly;
  border:2px solid black;
  background-color: bisque;
  flex-wrap: wrap;
  align-items: stretch;
}
.card{
  width:45%;
  background-color: rgb(185, 238, 238);
  border:2px solid rgb(64, 26, 26);
  border-radius:5px;
  margin:4px;
}
input{
  background-color: bisque;
  border:2px solid brown;
  border-radius:10px;
  height:22px;
}